body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f6f7fb;
    }
    h2{
        text-align: center;
    }
    .container {
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 15px;
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 15px; 
    }
    .card {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.2s;
    }
    .card img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .content { 
        padding: 10px;
    }
    .title { 
        margin: 0 0 5px; font-size: 16px; font-weight: bold; 
    }
    .desc { 
        margin: 0 0 10px; font-size: 14px; color: #666; 
    }
    .price { 
        font-weight: bold; 
    }

    
    .card { 
        width: 23%; 
    }
    button{
        width: 80px;
        height: 30px;
        border-radius: 10px;
        font-weight: bold;
        display: block;
        cursor: pointer;
        border: none;
        transition: 0.3s;
        margin-bottom: 5px;

    }

    /* Medium + Large devices (2 per row, image left, content right) */
    @media (max-width: 1199px) and (min-width: 768px) {
      .card {
        width: 48%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .card img {
        width: 50%;
        height: auto;
      }
      .content { 
        flex: 1; 
      }
    }

    /* Small devices (2 per row, content above, image below) */
    @media (max-width: 767px) and (min-width: 576px) {
      .card {
        width: 48%;
        display: flex;
        flex-direction: column-reverse;
      }
      .card img { 
        height: 130px; 
        }
    }

    /* Extra small devices (<576px): 2 per row, content above, image below */
   @media (max-width: 575px) {
    .products {
        flex-wrap: wrap;
        gap: 10px;
    }
    .card {
        width: 48%;
        min-width: 160px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }
    .card img {
        height: 120px;
        width: 100%;
        object-fit: cover;
    }
    .content {
        padding: 8px;
    }
    }