
    /*  #test{
        color: rgb(33, 13, 143);
      background-color: yellow;
    } can't get the color it is far*/
  /* body{
        color: rgb(33, 13, 143);
       /* background-color: yellow;*/
      /* background-image:url("https://tse1.mm.bing.net/th/id/OIP.-NRVbjRL9nktKszZuBTAOAHaFj?rs=1&pid=ImgDetMain&o=7&rm=3");
       background-repeat:no-repeat ; /* repeat-yជួចុះក្រោម​​ repeat-X ជួផ្តេក No repeatមានតែមួយ*/
     /*  background-attachment:fixed;
       background-position: center;
       width: 100%;
       min-height: 100vh;
      /* background-size: cover;*/ /*សំរាប់ដាក់ពេញ​ contian អត់ពេញ

    } */

   /* #test{
       /* border-style: dashed; /*double, solid, dotted*/
       /* border-width: 10px;
       /* border-color: blue;*/
         
       /* border: 10px blue solid;
        /*border-radius: 10px;*/
       /* border-top-right-radius: 30px;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 100px;

    } */
    #test{
        width: 500px;
        border: blue 10px solid;
        margin: 20px 10px 40px 30px;
        padding-left: 40px;/* ប្រើសំរាប់គំលាតអក្សរ*/
        padding-top: 20px;
        background-color: blueviolet;
        text-align: center;
        border-radius: 30px;
    }